<modal>
  <div header>
    <h1 class="text-center">Modal-seed!</h1>
  </div>
  <div body>
    <h4>Find out more about this modal</h4>
    <p class="card-text">The controller for this modal is located at:
      <code>src/app/components/modals/welcome/welcome.modal.ts</code>
    </p>
    <p class="card-text">The template for this modal is located at:
      <code>src/app/components/modals/welcome/welcome.template.html</code>
    </p>
    <p class="card-text">The style for this modal is located at:
      <code>src/app/components/modals/welcome/welcome.style.css</code>
    </p>
  </div>
</modal>